.section {
  padding-top: 96px;
}

.kotlinBlBtn:hover{
  color: white;
}

.latest-from-kotlin-section {
  background-color: #27282c;
}

.latest-from-kotlin-section__banner-link {
  display: block;
  font-size: 0;
  line-height: 0;
}

.latest-from-kotlin-section__button {
  display: flex;
  justify-content: center;
}